@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.navbar-section {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}
nav {
  padding-top: 30px;
}
#blackLayer {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
nav a {
  cursor: pointer;
  color: #fff;
  font: 14.5px "Poppins", sans-serif;
  font-weight: inherit;
}
nav .navbar-logo {
  font-size: 18.5px;
}

nav .navbar-logo span {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.65);
}
nav .menu-button:hover {
  color: #f2f2f2;
}
nav .navbar-logo:hover {
  color: rgba(255, 255, 255, 0.65);
}
#sideMenu {
  margin-right: -304px;
  width: 300px;
  background: rgba(0, 0, 0, 0.95);
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}
#sideMenu ul {
  padding: 44px 30px;
}
#sideMenu ul li {
  border-top: solid 1px rgba(255, 255, 255, 0.125);
}
#sideMenu ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  line-height: 45px;
}
#sideMenu ul li a:hover {
  color: #fff;
}
nav .close-btn fa {
  font-size: 25px;
  padding: 10px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
nav .close-btn fa:hover {
  color: #000;
}
