.slide-show {
  width: 100%;
  height: 100vh;
  z-index: -5;
}
.slide-show #slideOne {
  background-image: url(../../assets/images/slide01.jpg);
  display: block;
}
.slide-show #slideTWo {
  background-image: url(../../assets/images/slide02.jpg);
}
.slide-show #slideThree {
  background-image: url(../../assets/images/slide03.jpg);
}
.slide-show #slideFour {
  background-image: url(../../assets/images/slide04.jpg);
}
.slide-show #slideFive {
  background-image: url(../../assets/images/slide05.jpg);
}
.slide-show article {
  width: 100%;
  display: none;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slide-show article .caption {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  text-align: center;
}
.slide-show article .caption p {
  color: #a6a6a6;
  font: 15px "Poppins", sans-serif;
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 25px;
  margin: 0;
  line-height: 30px;
}

.slide-show article .caption p:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.65);
}
.slide-show article .caption h2 {
  font-size: 105px;
  margin-bottom: 0;
  color: #fff;
  letter-spacing: 4px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Poppins";
}
.slide-show .indicator-dots {
  z-index: 3;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.slide-show .indicator-dots ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.slide-show .indicator-dots ul li {
  cursor: pointer;
  text-align: center;
  padding: 10px;
}
.slide-show .indicator-dots ul li span {
  background-color: rgba(255, 255, 255, 0.35);
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  display: inline-block;
  font-size: 1px;
  transition: background-color 1s ease;
}
.test {
  width: 500px;
  height: 500px;
  background-color: aqua;
}
